# Build directories
build
dist
*.egg-info

+*

# Mac OS X custom attribute files
.DS_Store

# Windows thumbnails
Thumbs.db

# Python
*.pyc
*.pyo

# Temporary editor files
*.swp
.idea

# Temporary example files
examples/12-experimental/test.mp4
examples/12-experimental/frames
*.mp4
examples/*/a__DEBUG__
examples/*/__DEBUG__
examples/07-filter/grid.py
